.navClose {
    animation-name: navClose;
    animation-duration: 300ms;
    transition: all 400ms ease-in;
}
.openSettings {
    animation-name: settingsDrawal;
    animation-duration: 300ms;
    transition: all 400ms ease-in;
}
.closeSettings {
    animation-name: closeSettingsDrawal;
    animation-duration: 300ms;
    transition: all 400ms ease-out;
}




@keyframes settingsDrawal {
    0% {
        margin-right: -50rem;
    }
    100%{
        margin-right: 0;
    }
}
@keyframes closeSettingsDrawal {
    0% {
        margin-right: 0;
    }
    100% {
        margin-right: -50rem;
    }
}
@keyframes navClose {
    0% { 
        width: 76.3%;
    }
    100% { 
        width: 100%; 
    }
}