@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: hidden;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
 @layer components {
    .aside {
        @apply dark:bg-slate-800 dark:text-white bg-[#F6F6F6] h-[100vh] no-scrollbar overflow-y-auto;
    }
    .logo-section {
        @apply relative flex p-[30px] items-center justify-start;
    }
    .first-tier {
        @apply flex justify-start items-center mx-[30px] mb-[30px] hover:opacity-40;
    }
    .second-tier {
        @apply flex justify-between items-center px-[30px] mb-[30px] hover:opacity-40 text-[#848484] w-full;
    }
    .workspace-one {
        @apply flex justify-start items-center px-[30px];
    }
    .workspace-three {
        @apply hover:opacity-40 text-[#848484] w-full;
    }
    .subdropdown {
        @apply flex justify-start items-center px-[15px] pt-[10px] pb-[10px] hover:opacity-40 text-[#848484] w-[95%] hover:bg-[#F1EFEF] rounded-[8px];
    }
    .subworkspace {
        @apply text-[#848484] w-full rounded-[8px] mb-4;
    }
    .active-major {
        @apply flex justify-start items-center px-4 py-3 my-3 rounded-xl hover:no-underline hover:text-[#848484] hover:bg-[#7575752a] mr-4;
    }
    .navbar-styles {
        @apply h-[97px] border-b-[1px] border-[#ECECEC] justify-between dark:bg-slate-800 bg-white flex items-center;
    }
    .modal-settings {
        @apply absolute top-0 right-0 flex flex-col justify-start items-end flex-1 bg-[#64748b5b] w-full h-full z-[10];
    }
 }